@inject IVideoLibrary videoLibrary
@inject ISettingsLibrary settingsLibrary
@inject IYoutube youtube
@inject IVideoData videoData
@inject ISnackbar snackbar
@inject ITokenHelper tokenHelper
@inject ISearchHelper searchHelper
@inject IVideoLibraryHelper videoLibraryHelper

<MudGrid Spacing="5">
    <MudItem xs="12" Class="text-center">
        <MudTextField @bind-Value="_playlistUrl"
                      Class="mb-4"
                      Label="Enter Playlist Url"
                      Adornment="Adornment.End"
                      AdornmentIcon="@Icons.Material.Filled.Download"
                      OnAdornmentClick="LoadPlaylist"
                      Required="true"
                      Clearable="true"/>
    </MudItem>
    <MudItem xs="12">
        @if (_playlistTokenSource is null)
        {
            <MudButton Color="Color.Primary"
                       Variant="Variant.Filled"
                       Class="w-100 mb-3"
            @onclick="DownloadAllPlaylists">
                @GetDownloadText()
            </MudButton>
        }
        else
        {
            <MudButton Color="Color.Error"
                       Variant="Variant.Filled"
                       Class="w-100 mb-3"
            @onclick="CancelPlaylistDownload">
                Cancel
            </MudButton>
        }
        <MudButton Color="Color.Warning"
                   Variant="Variant.Filled"
                   Class="w-100 mb-3"
        @onclick="ClearPlaylistVideos">
            Clear Videos
        </MudButton>
        <MudAutocomplete T="string" Label="@GetSearchBarText()"
                         Variant="Variant.Outlined"
                         Class="mb-4"
                         HelperText="Search the loaded videos."
                         AdornmentIcon="@Icons.Material.Filled.YoutubeSearchedFor"
                         OnAdornmentClick="FilterPlaylistVideo"
                         SearchFunc="SearchPlaylistVideos"
                         ResetValueOnEmptyText="true"
        @bind-Value="_searchText" />
        <MudProgressLinear Color="Color.Primary"
                           Striped="true"
                           Size="Size.Medium"
                           Max="1"
                           Value="@_playlistProgress"
                           Class="my-7"
                           Buffer="true" />
        @if (string.IsNullOrWhiteSpace(_currentDownloadingVideo) is false)
        {
            <MudAlert Class="mb-4" Severity="Severity.Warning">@_currentDownloadingVideo</MudAlert>
        }
       <MudGrid>
            <MudVirtualize Items="_visibleVideos" Context="v" OverscanCount="6">
                <VideoComponent @key="v.VideoId"
                                CardSize="4"
                                Video="v"
                                Index="GetIndex(v)"
                                RemoveEvent="(() => RemovePlaylistVideo(v))" />
            </MudVirtualize>
       </MudGrid>
        @if (_loadedItems < videoLibrary.PlaylistVideos.Count)
        {
            <div class="text-center mt-4">
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                @onclick="LoadMoreVideos">
                    Load More
                </MudButton>
            </div>
        }
    </MudItem>
</MudGrid>

<MudDialog IsVisible="_showDialog" Class="backdrop-blur">
    <DialogContent>
        <MudText Typo="Typo.subtitle1">It appears your URL is a playlist.</MudText>
        <MudText Typo="Typo.body1">Would you like to download your video's Url?</MudText>
        <MudProgressLinear Color="Color.Primary"
                           Striped="true"
                           Size="Size.Medium"
                           Buffer="true"
                           Max="1"
                           Value="@_videoProgress"
                           Class="my-7" />
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="(() => DownloadVideo(_firstVideoInPlaylistUrl))">Download</MudButton>
        <MudButton OnClick="(() => _showDialog = !_showDialog)">Cancel</MudButton>
    </DialogActions>
</MudDialog>


