@typeparam TData

@inject IVideoLibrary videoLibrary
@inject ILoadedItemsCache loadedItemsCache
@inject ISettingsData settingsData
@inject IYoutube youtube
@inject ISearchHelper<TData> searchHelper
@inject IGenericGeneralHelper<TData> generalHelper
@inject ITokenHelper tokenHelper
@inject IFolderHelper folderHelper
@inject ISnackbarHelper snackbarHelper
@inject ILanguageExtension languageExtension
@inject IClipboard clipboard

<MudGrid Spacing="5">
    <MudItem xs="12" Class="text-center">
        <div class="justify-content-between d-flex">
            <div>
                <MudButtonGroup OverrideStyles=false>
                    <MudButton OnClick="LoadData"
                               Color="Color.Primary"
                               Variant="Variant.Outlined"
                               Size="Size.Small"
                               Class="mx-3">
                        <div class="d-flex align-items-center flex-column">
                            <div class="d-flex justify-content-center">
                                <MudIcon class="mx-auto" Icon="@Icons.Material.Filled.Link" Size="Size.Small"></MudIcon>
                            </div>
                            <div class="text-center">
                                <MudText Class="text-uppercase fw-bold">@GetDictionary()[KeyWords.PasteALink]</MudText>
                            </div>
                        </div>
                    </MudButton>
                    @if (_downloadTokenSource is null && IsVideoModel())
                    {
                        <MudButton Color="Color.Success"
                                   Variant="Variant.Outlined"
                                   Size="Size.Small"
                        @onclick="DownloadAllVideos">
                            <div class="d-flex align-items-center flex-column">
                                <div class="d-flex justify-content-center">
                                    <MudIcon class="mx-auto" Icon="@Icons.Material.Filled.Download" Size="Size.Small"></MudIcon>
                                </div>
                                <div class="text-center">
                                    <MudText Class="text-uppercase fw-bold">@GetDownloadText()</MudText>
                                </div>
                            </div>
                        </MudButton>
                    }
                    else if (_downloadTokenSource is not null && IsVideoModel())
                    {
                        <MudButton Color="Color.Error"
                                   Variant="Variant.Outlined"
                                   Size="Size.Small"
                        @onclick="CancelVideosDownload">
                            <div class="d-flex align-items-center flex-column">
                                <div class="d-flex justify-content-center">
                                    <MudIcon class="mx-auto" Icon="@Icons.Material.Filled.Cancel" Size="Size.Small"></MudIcon>
                                </div>
                                <div class="text-center">
                                    <MudText Class="text-uppercase fw-bold">@GetDictionary()[KeyWords.Cancel]</MudText>
                                </div>
                            </div>
                        </MudButton>
                    }
                </MudButtonGroup>
            </div>
            <div>
                <MudButton Color="Color.Error"
                           Variant="Variant.Outlined"
                           Size="Size.Small"
                @onclick="ClearDatas">
                    <div class="d-flex align-items-center flex-column">
                        <div class="d-flex justify-content-center">
                            <MudIcon class="mx-auto" Icon="@Icons.Material.Filled.Delete" Size="Size.Small"></MudIcon>
                        </div>
                        <div class="text-center">
                            <MudText Class="text-uppercase fw-bold">
                                @GetDictionary()[KeyWords.Clear]
                                @GetDataTypeName()s
                            </MudText>
                        </div>
                    </div>
                </MudButton>
            </div>
            <div>
                @if (IsVideoModel())
                {
                    <MudButton @onclick="OpenFileLocation"
                               Class="mx-3"
                               Variant="Variant.Outlined"
                               Color="Color.Warning"
                               Size="Size.Small">
                        <div class="d-flex align-items-center flex-column">
                            <div class="d-flex justify-content-center">
                                <MudIcon class="mx-auto" Icon="@Icons.Material.Filled.Folder" Size="Size.Small"></MudIcon>
                            </div>
                            <div class="text-center">
                                <MudText Class="text-uppercase fw-bold">
                                    @GetDictionary()[KeyWords.OpenFolderLocation]
                                </MudText>
                            </div>
                        </div>
                    </MudButton>
                    <MudButton @onclick="SaveData" Variant="Variant.Outlined" Color="Color.Success" Size="Size.Small">
                        <div class="d-flex align-items-center flex-column">
                            <div class="d-flex justify-content-center">
                                <MudIcon class="mx-auto" Icon="@Icons.Material.Filled.Save" Size="Size.Small"></MudIcon>
                            </div>
                            <div class="text-center">
                                <MudText Class="text-uppercase fw-bold">
                                    @GetDictionary()[KeyWords.Save]
                                    @GetDataTypeName()s
                                </MudText>
                            </div>
                        </div>
                    </MudButton>
                }
                else
                {
                    <MudButton @onclick="SaveData"
                               Color="Color.Success"
                               Variant="Variant.Outlined"
                               Size="Size.Small">
                        <div class="d-flex align-items-center flex-column">
                            <div class="d-flex justify-content-center">
                                <MudIcon class="mx-auto" Icon="@Icons.Material.Filled.Save" Size="Size.Small"></MudIcon>
                            </div>
                            <div class="text-center">
                                <MudText Class="text-uppercase fw-bold">
                                    @GetDictionary()[KeyWords.Save]
                                    @GetDataTypeName()s
                                </MudText>
                            </div>
                        </div>
                    </MudButton>
                }
            </div>
        </div>
    </MudItem>
</MudGrid>
<MudGrid Spacing="5" Class="mb-12">
    <MudItem xs="12">
        <div class="w-100">
            <MudAutocomplete T="string"
                             Label="@GetSearchBarText()"
                             Variant="Variant.Outlined"
                             AdornmentIcon="@Icons.Material.Filled.YoutubeSearchedFor"
                             OnAdornmentClick="FilterData"
                             SearchFunc="FilterSearchData"
                             ResetValueOnEmptyText="true"
                             ValueChanged="HandleSearchValueChanged" />
        </div>
        @if (_visibleData?.Count > 0 || GetDataResults()?.Count > 0)
        {
            <MudDivider Class="mb-6 mt-6"></MudDivider>
            @if (string.IsNullOrWhiteSpace(_downloadingVideoText) is false)
            {
                <MudAlert Class="mb-4" Severity="Severity.Warning">@_downloadingVideoText</MudAlert>
            }
            <MudGrid>
                @if (typeof(TData) == typeof(VideoModel))
                {
                    <MudVirtualize Items="GetVideos()" Context="v" OverscanCount="ItemsPerPage">
                        <VideoComponent @key="v.VideoId"
                                        Video="v"
                                        CardSize="4"
                                        RemoveEvent="(() => RemoveData((TData)(dynamic)v))" />
                    </MudVirtualize>
                }
                else if (typeof(TData) == typeof(ChannelModel))
                {
                    <MudVirtualize Items="GetChannels()" Context="c" OverscanCount="ItemsPerPage">
                        <ChannelComponent @key="c.ChannelId"
                                          Channel="c"
                                          CardSize="4"
                                          RemoveEvent="(() => RemoveData((TData)(dynamic)c))" />
                    </MudVirtualize>
                }
                else
                {
                    <MudVirtualize Items="GetPlaylists()" Context="p" OverscanCount="ItemsPerPage">
                        <PlaylistComponent @key="p.PlaylistId"
                                           Playlist="p"
                                           CardSize="4"
                                           RemoveEvent="(() => RemoveData((TData)(dynamic)p))" />
                    </MudVirtualize>
                }
            </MudGrid>
            @if (_loadedItems < GetDataResults()?.Count)
            {
                <div class="text-center mt-4">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                    @onclick="LoadMoreData">
                        @GetDictionary()[KeyWords.LoadMore]
                    </MudButton>
                </div>
            }
        }
    </MudItem>
</MudGrid>


<MudAppBar Bottom="true" Fixed="true" Color="Color.Dark" Elevation="1">
    <MudText Class="mx-5">@GetProgressText()</MudText>
    <MudProgressLinear Color="Color.Primary"
                       Striped="true"
                       Size="Size.Medium"
                       Max="1"
                       Value="@_progress"
                       Class="my-7"
                       Buffer="true"
                       Rounded="true" />
</MudAppBar>