@typeparam TData

@inject IVideoData videoData
@inject IPlaylistData playlistData
@inject IChannelData channelData
@inject ISettingsData settingsData
@inject IYoutube youtube
@inject ITokenHelper tokenHelper
@inject ISearchHelper<TData> searchHelper
@inject IFolderHelper folderHelper
@inject ISnackbarHelper snackbarHelper
@inject IGenericGeneralHelper<TData> generalHelper
@inject ILoadedItemsCache loadedItemsCache
@inject ILanguageExtension languageExtension


<MudGrid Spacing="5">
    <MudItem xs="12" Class="text-center">
        <div class="justify-content-between d-flex">
            <div>
                @if (_allVideosTokenSource is null && IsVideoModel())
                {
                    <MudButton Color="Color.Success"
                               Variant="Variant.Outlined"
                               Size="Size.Small"
                    @onclick="DownloadVideos">
                        <div class="d-flex align-items-center flex-column">
                            <div class="d-flex justify-content-center">
                                <MudIcon class="mx-auto" Icon="@Icons.Material.Filled.Download" Size="Size.Small"></MudIcon>
                            </div>
                            <div class="text-center">
                                <MudText Class="text-uppercase fw-bold">
                                    @GetDownloadVideoText()
                                </MudText>
                            </div>
                        </div>
                    </MudButton>
                }
                else if (_allVideosTokenSource is not null && IsVideoModel())
                {
                    <MudButton Color="Color.Error"
                               Variant="Variant.Outlined"
                               Size="Size.Small"
                    @onclick="CancelDownload">
                        <div class="d-flex align-items-center flex-column">
                            <div class="d-flex justify-content-center">
                                <MudIcon class="mx-auto" Icon="@Icons.Material.Filled.Cancel" Size="Size.Small"></MudIcon>
                            </div>
                            <div class="text-center">
                                <MudText Class="text-uppercase fw-bold">@GetDictionary()[KeyWords.Cancel]</MudText>
                            </div>
                        </div>
                    </MudButton>
                }
            </div>
            <div>
                <MudButtonGroup OverrideStyles=false>
                    <MudButton @onclick="OpenDialog"
                               Color="Color.Error"
                               Variant="Variant.Outlined"
                               Size="Size.Small"
                               Class="mx-3">
                        <div class="d-flex align-items-center flex-column">
                            <div class="d-flex justify-content-center">
                                <MudIcon class="mx-auto" Icon="@Icons.Material.Filled.Delete" Size="Size.Small"></MudIcon>
                            </div>
                            <div class="text-center">
                                <MudText Class="text-uppercase fw-bold">
                                    @GetDictionary()[KeyWords.Delete] @GetPluralDataTypeName()
                                </MudText>
                            </div>
                        </div>
                    </MudButton>
                    @if (_updateTokenSource is null)
                    {
                        <MudButton @onclick="UpdateAllDatas"
                                   Color="Color.Warning"
                                   Variant="Variant.Outlined"
                                   Size="Size.Small">
                            <div class="d-flex align-items-center flex-column">
                                <div class="d-flex justify-content-center">
                                    <MudIcon class="mx-auto" Icon="@Icons.Material.Filled.Update" Size="Size.Small"></MudIcon>
                                </div>
                                <div class="text-center">
                                    <MudText Class="text-uppercase fw-bold">
                                        @GetDictionary()[KeyWords.UpdateData]
                                    </MudText>
                                </div>
                            </div>
                        </MudButton>
                    }
                    else
                    {
                        <MudButton @onclick="CancelUpdateData"
                                   Color="Color.Error"
                                   Variant="Variant.Outlined"
                                   Size="Size.Small">
                            <div class="d-flex align-items-center flex-column">
                                <div class="d-flex justify-content-center">
                                    <MudIcon class="mx-auto" Icon="@Icons.Material.Filled.Cancel" Size="Size.Small"></MudIcon>
                                </div>
                                <div class="text-center">
                                    <MudText Class="text-uppercase fw-bold">
                                        @GetDictionary()[KeyWords.CancelUpdateData]
                                    </MudText>
                                </div>
                            </div>
                        </MudButton>
                    }
                </MudButtonGroup>
            </div>
        </div>
    </MudItem>
</MudGrid>
<MudGrid Spacing="5">
    <MudItem xs="12" Class="mb-12">
        <div class="w-100">
            <MudAutocomplete T="string"
                             Label="@GetSearchBarText()"
                             Variant="Variant.Outlined"
                             AdornmentIcon="@Icons.Material.Filled.YoutubeSearchedFor"
                             OnAdornmentClick="FilterData"
                             SearchFunc="FilterSearchData"
                             ResetValueOnEmptyText="true"
                             ValueChanged="HandleSearchValueChanged" />
        </div>
        @if (_visibleData?.Count > 0 || _datas?.Count > 0)
        {
            <MudDivider Class="mb-6 mt-6"></MudDivider>
            @if (string.IsNullOrWhiteSpace(_downloadingVideoText) is false)
            {
                <MudAlert Class="mb-4" Severity="Severity.Warning">@_downloadingVideoText</MudAlert>
            }
            <MudGrid>
                @if (typeof(TData) == typeof(VideoModel))
                {
                    <MudVirtualize Items="GetVideos()" Context="v" OverscanCount="ItemsPerPage">
                        <VideoComponent @key="v.VideoId"
                                        Video="v"
                                        CardSize="4"
                                        RemoveEvent="(() => DeleteData((TData)(dynamic)v))" />
                    </MudVirtualize>
                }
                else if (typeof(TData) == typeof(ChannelModel))
                {
                    <MudVirtualize Items="GetChannels()" Context="c" OverscanCount="ItemsPerPage">
                        <ChannelComponent @key="c.ChannelId"
                                          Channel="c"
                                          CardSize="4"
                                          RemoveEvent="(() => DeleteData((TData)(dynamic)c))" />
                    </MudVirtualize>
                }
                else
                {
                    <MudVirtualize Items="GetPlaylists()" Context="p" OverscanCount="ItemsPerPage">
                        <PlaylistComponent @key="p.PlaylistId"
                                           Playlist="p"
                                           CardSize="4"
                                           RemoveEvent="(() => RemoveData((TData)(dynamic)p))" />
                    </MudVirtualize>
                }
            </MudGrid>
            @if (_loadedItems < _datas.Count)
            {
                <div class="text-center mt-4">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                    @onclick="LoadMoreData">
                        @GetDictionary()[KeyWords.LoadMore]
                    </MudButton>
                </div>
            }
        }
    </MudItem>
</MudGrid>


<MudDialog IsVisible="_isVisible">
    <TitleContent>
        <MudText Typo="Typo.h6">
            @GetDictionary()[KeyWords.DeleteAllWarningTitle]
            @GetDictionary()[KeyWords.Videos].ToLower()
            <MudIcon Icon="@Icons.Material.Filled.Dangerous"></MudIcon>
        </MudText>
    </TitleContent>
    <DialogContent>
        @GetDictionary()[KeyWords.DeleteAllWarningText]
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CloseDialog" Color="Color.Error">@GetDictionary()[KeyWords.Cancel]</MudButton>
        <MudButton Color="Color.Primary" OnClick="DeleteAllData">@GetDictionary()[KeyWords.Confirm]</MudButton>
    </DialogActions>
</MudDialog>


@if (IsVideoModel())
{
    <MudAppBar Bottom="true" Fixed="true" Color="Color.Dark" Elevation="1">
        <MudText Class="mx-5">@GetProgressText()</MudText>
        <MudProgressLinear Color="Color.Primary"
                           Striped="true"
                           Size="Size.Medium"
                           Max="1"
                           Value="@_videosProgress"
                           Class="my-7"
                           Buffer="true"
                           Rounded="true" />
    </MudAppBar>
}
