@inject IPlaylistData playlistData
@inject ISnackbar snackbar
@inject IYoutube youtube
@inject ILauncher launcher
@inject ILanguageExtension languageExtension
@inject NavigationManager navManager

<MudItem xs="CardSize">
    <MudCard Class="mb-4 h-100 d-flex flex-column">
        <MudCardHeader>
            <CardHeaderAvatar>       
                @if (string.IsNullOrWhiteSpace(Playlist.AuthorThumbnailUrl))
                {
                    <MudAvatar Variant="Variant.Outlined">
                        @Playlist.Title.First()
                    </MudAvatar>
                }
                else
                {
                    <MudAvatar>
                        <MudImage title="@Playlist.AuthorName" Src="@Playlist.AuthorThumbnailUrl"></MudImage>
                    </MudAvatar>
                }
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.subtitle1" Class="text-break"
                         title="@Playlist.Title">
                    @Playlist.Title
                </MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                @if (_isSaved is false)
                {
                    <MudIconButton Icon="@Icons.Material.Filled.Save"
                                   Color="Color.Default"
                                   Title="@GetSavePlaylistText()"
                    @onclick="SavePlaylist"></MudIconButton>
                }
                <MudIconButton Icon="@Icons.Material.Filled.RemoveCircleOutline"
                               Color="Color.Default"
                               Title="@GetDictionary()[KeyWords.Remove]"
                @onclick="Remove"></MudIconButton>
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardMedia Image="@Playlist.ThumbnailUrl" Height="200"></MudCardMedia>
        <div class="mt-auto"></div>
        <MudCardContent Class="text-start">
            <MudLink Color="Color.Default" title="@Playlist.Title" @onclick="(() => OpenUrl(Playlist.Url))">
                @Playlist.Title
            </MudLink>
        </MudCardContent>
        <MudCardActions Class="justify-content-between">
            <MudButton Variant="Variant.Outlined" Color="Color.Secondary" @onclick="LoadPlaylistPage">
                @GetDictionary()[KeyWords.OpenDetails]
            </MudButton>
        </MudCardActions>
    </MudCard>
</MudItem>


