@inject IYoutube youtube
@inject IVideoData videoData
@inject ISettingsData settingsData
@inject ITokenHelper tokenHelper
@inject ISnackbarHelper snackbarHelper
@inject ILauncher launcher
@inject ILanguageExtension languageExtension
@inject NavigationManager navManager

<MudItem xs="CardSize">
    <MudCard Class="mb-4 h-100 d-flex flex-column">
        <MudCardHeader>
            <CardHeaderAvatar>
                @if (string.IsNullOrWhiteSpace(Video.AuthorThumbnailUrl))
                {
                    <MudAvatar Variant="Variant.Outlined">
                        @Video.Title.First()
                    </MudAvatar>
                }
                else
                {
                    <MudAvatar>
                        <MudImage title="@Video.AuthorName" Src="@Video.AuthorThumbnailUrl"></MudImage>
                    </MudAvatar>
                }
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.subtitle1" Class="text-break" title="@Video.Title">
                    @Video.Title
                </MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                @if (_isSaved is false)
                {
                    <MudIconButton Icon="@Icons.Material.Filled.Save"
                                   Color="Color.Default"
                                   Title="@GetSaveVideoText()"
                    @onclick="SaveVideo"></MudIconButton>
                }
                <MudIconButton Icon="@Icons.Material.Filled.RemoveCircleOutline"
                               Color="Color.Default"
                               Title="@GetDictionary()[KeyWords.Remove]"
                @onclick="Remove"></MudIconButton>
            </CardHeaderActions>
        </MudCardHeader>
        <div class="mt-auto"></div>
        <MudCardMedia Image="@Video.ThumbnailUrl" Height="150"></MudCardMedia>
        <MudCardContent Class="text-start">
            <MudLink @onclick="(() => OpenUrl(Video.AuthorUrl))"
                     Color="Color.Default"
                     Class="text-break"
                     title="@Video.AuthorName">
                @Video.AuthorName
            </MudLink>
            <MudText title="@Video.Duration">
                @Video.Duration
            </MudText>
            @if (Index is not 0)
            {
                <MudText title="@Index">Index: @Index</MudText>
            }
            <MudProgressLinear Color="Color.Primary"
                               Striped="true"
                               Size="Size.Medium"
                               Max="1"
                               Value="@_progress"
                               Class="my-7"
                               Buffer="true" />
        </MudCardContent>
        <div class="mt-auto"></div>
        <MudCardActions Class="justify-content-between">
            @if (_isDownloading is false)
            {
                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                @onclick="DownloadVideo">
                    @GetDictionary()[KeyWords.Download]
                </MudButton>
            }
            else
            {
                <MudButton Variant="Variant.Filled"
                           Color="Color.Error"
                @onclick="CancelVideoDownload">
                    @GetDictionary()[KeyWords.Cancel]
                    @GetDictionary()[KeyWords.Download]
                </MudButton>
            }
            <MudButton Variant="Variant.Outlined"
                       Color="Color.Warning"
            @onclick="(() => OpenUrl(Video.Url))">
                @GetDictionary()[KeyWords.OpenUrl]
            </MudButton>
            <MudButton Variant="Variant.Outlined"
                       Color="Color.Secondary"
            @onclick="LoadWatchPage">
                @GetDictionary()[KeyWords.Watch]
            </MudButton>
        </MudCardActions>
    </MudCard>
</MudItem>




