@inject IYoutubeDownloader youtubeDownloader
@inject ISnackbar snackbar
@inject ITokenHelper tokenHelper
@inject IFolderHelper folderHelper
@inject NavigationManager navManager

<MudCard Class="mb-4">
    <MudCardMedia Image="@Model.Thumbnails.FirstOrDefault().Url" Height="200"></MudCardMedia>
    <MudCardHeader>
        <MudText Typo="Typo.subtitle1">@Model.Title</MudText>
    </MudCardHeader>
    <MudDivider />
    <MudCardContent Class="text-start">
        <div>@Model.Author</div>
        <div>@Model.Duration</div>
        <div>@Model.Url</div>
        <MudProgressLinear Color="Color.Primary"
                           Striped="true"
                           Size="Size.Medium"
                           Max="1"
                           Value="@progress"
                           Class="my-7"
                           Buffer="true" />
    </MudCardContent>
    <MudCardActions Class="justify-content-between">
        @if (isDownloading is false)
        {
            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
            @onclick="DownloadVideo">
                Download
            </MudButton>
        }
        else
        {
            <MudButton Variant="Variant.Filled"
                       Color="Color.Error"
            @onclick="CancelVideoDownload">
                Cancel Download
            </MudButton>
        }
        <MudButton Variant="Variant.Outlined"
                   Color="Color.Secondary"
        @onclick="LoadWatchPage">
            Watch
        </MudButton>
        @if (isDownloadSuccessful)
        {
            <MudButton Variant="Variant.Outlined"
                       Color="Color.Warning"
            @onclick="OpenFolderLocation">
                Open Location
            </MudButton>
        }
    </MudCardActions>
</MudCard>


