@page "/Channel/{Url}"
@inject IYoutube youtube
@inject IChannelData channelData
@inject ISnackbar snackbar
@inject ILauncher launcher
@inject ILanguageExtension languageExtension
@inject NavigationManager navManager

@if (IsChannelNull() is false)
{
    <MudGrid Spacing="5">
        <MudItem xs="12">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        @_channel.Title
                    </CardHeaderContent>
                    <CardHeaderAvatar>
                        <MudAvatar>
                            <MudImage Src="@_channel.ThumbnailUrl"></MudImage>
                        </MudAvatar>
                    </CardHeaderAvatar>
                </MudCardHeader>
                <MudCardMedia Image="@_channel.ThumbnailUrl" />
                <MudCardContent>
                    <MudLink Typo="Typo.h5" @onclick="OpenUrl">@_channel.Url</MudLink>
                    <MudText Typo="Typo.body2">
                        @GetVideoCount()
                    </MudText>
                </MudCardContent>
                <MudCardActions>
                    @if (_isSaved)
                    {
                        <MudButton Variant="Variant.Text" Color="Color.Error" @onclick="DeleteChannel">
                            @GetDictionary()[KeyWords.Delete]
                        </MudButton>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Text" Color="Color.Primary" @onclick="SaveChannel">
                            @GetDictionary()[KeyWords.Save]
                        </MudButton>
                    }
                </MudCardActions>
            </MudCard>
        </MudItem>
        @if (_visibleVideos?.Count > 0 || _videos?.Count > 0)
        {
            <MudItem xs="12">
                <MudDivider Class="mt-6 mb-6" />
                <MudText Typo="Typo.h5" Class="mb-4 mt-4">Uploaded Videos</MudText>
                <MudGrid>
                    <MudVirtualize Items="_visibleVideos" Context="v" OverscanCount="6">
                        <VideoComponent @key="v.VideoId"
                                        Video="v"
                                        CardSize="6"
                                        RemoveEvent="RemoveVideo" />
                    </MudVirtualize>
                </MudGrid>
                @if (_loadedItems < _videos.Count)
                {
                    <div class="text-center mt-4">
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                        @onclick="LoadMoreVideos">
                            @GetDictionary()[KeyWords.LoadMore]
                        </MudButton>
                    </div>
                }
            </MudItem>
        }
    </MudGrid>
}

<LoadingDialog IsVisible="IsChannelNull()" />



