@page "/"
@inject IYoutubeDownloader youtubeDownloader
@inject ISecureStorage secureStorage
@inject IDefaultData defaultData
@inject IVideoLibrary videoLibrary
@inject NavigationManager navManager

<MudContainer>
    <MudText Typo="Typo.h4" Class="text-center text-uppercase mb-4">
        Vid Fetch
        <MudIcon Icon="@Icons.Material.Filled.MusicVideo" Title="Video"></MudIcon>
    </MudText>
    @if (string.IsNullOrWhiteSpace(errorMessage) is false)
    {
        <MudAlert Severity="Severity.Error" Class="mb-4">
            @errorMessage
        </MudAlert>
    }
    <MudGrid>
        <MudItem xs="12" Class="text-center">
            <MudTextField @bind-Value="youtubeUrl"
                          Label="Enter YouTube URL"
                          Variant="Variant.Outlined"
                          Adornment="Adornment.End"
                          AdornmentIcon="@Icons.Material.Filled.Download"
                          AdornmentColor="Color.Secondary"
                          OnAdornmentClick="LoadVideoOrPlaylist"
                          Required="true"
                          Clearable="true" />
            <MudButtonGroup Class="mt-2">
                @foreach (var p in downloadPaths)
                {
                    <MudButton Class="@GetButtonClass(p)"
                               OnClick="(() => selectedPath = p)">
                        @p
                    </MudButton>
                }
            </MudButtonGroup>
            <MudSelect Label="Video Format:" @bind-Value="selectedExtension" Class="mud-input-root text-start">
                @foreach (var e in videoExtensions)
                {
                    <MudSelectItem Value="@e">@e</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
    </MudGrid>
    <MudGrid Spacing="5">
        <MudItem xs="6">
            @if (videosCancellationSource is null)
            {
                <MudButton Color="Color.Primary"
                           Variant="Variant.Filled"
                           Class="w-100 mb-4"
                @onclick="DownloadAllVideos">
                    @GetDownloadVideoText()
                </MudButton>
            }
            else
            {
                <MudButton Color="Color.Error"
                           Variant="Variant.Filled"
                           Class="w-100 mb-4"
                @onclick="CancelVideosDownload">
                    Cancel
                </MudButton>
            }
            <MudButton Color="Color.Warning"
                        Variant="Variant.Filled"
                        Class="w-100 mb-4"
            @onclick="ClearVideos">
                Clear Videos
            </MudButton>
            <MudAutocomplete T="string" Label="Search Video"
                Variant="Variant.Outlined"
                Class="mb-4"
                AdornmentIcon="@Icons.Material.Filled.YoutubeSearchedFor"
                OnAdornmentClick="FilterVideos"
                SearchFunc="SearchVideos"
                ResetValueOnEmptyText="true"
                @bind-Value="videoSearchText" />
            <MudVirtualize Items="videoLibrary.Videos" Context="v" OverscanCount="10">
                <MudCard Class="mb-4">
                    <MudCardMedia Image="@v.Thumbnails.FirstOrDefault().Url" Height="200"></MudCardMedia>
                    <MudCardHeader>
                        <MudText Typo="Typo.subtitle1">@v.Title</MudText>
                    </MudCardHeader>
                    <MudDivider />
                    <MudCardContent Class="text-start">
                        <div>@v.Author</div>
                        <div>@v.Duration</div>
                        <div>@v.Url</div>
                    </MudCardContent>
                    <MudCardActions Class="justify-content-between">
                        @if (currentDownloadingVideo is null || currentDownloadingVideo.Id != v.Id)
                        {
                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                            @onclick="(() => DownloadVideo(v.Url))">
                                Download
                            </MudButton>
                        }
                        else if (currentDownloadingVideo is not null && currentDownloadingVideo.Id == v.Id)
                        {
                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Error"
                            @onclick="CancelVideoDownload">
                                Cancel Download
                            </MudButton>
                        }
                        <MudButton Variant="Variant.Outlined"
                                   Color="Color.Secondary"
                        @onclick="(() => LoadWatchPage(v.Url))">
                            Watch
                        </MudButton>
                    </MudCardActions>
                </MudCard>
            </MudVirtualize>
        </MudItem>
        <MudItem xs="6">
            @if (playlistCancellationSource is not null)
            {
                <MudButton Variant="Variant.Filled"
                           Color="Color.Error"
                           Class="w-100"
                @onclick="CancelPlaylistDownload">
                    Cancel
                </MudButton>
            }
            else
            {
                <MudButton Color="Color.Primary"
                           Variant="Variant.Filled"
                           Class="w-100 mb-4"
                @onclick="DownloadAllPlaylists">
                    Download Playlist
                </MudButton>
            }
            <MudButton Color="Color.Warning"
                        Variant="Variant.Filled"
                        Class="w-100 mb-4"
            @onclick="ClearPlaylist">
                Clear Playlist
            </MudButton>
            <MudAutocomplete T="string" Label="Search Playlist Video"
                Variant="Variant.Outlined"
                Class="mb-4"
                AdornmentIcon="@Icons.Material.Filled.YoutubeSearchedFor"
                OnAdornmentClick="FilterPlaylistVideo"
                SearchFunc="SearchPlaylistVideos"
                ResetValueOnEmptyText="true"
                @bind-Value="playlistVideoSearchText" />
            <MudVirtualize Items="videoLibrary.PlaylistVideos" Context="v" OverscanCount="10">
                <MudCard Class="mb-4">
                    <MudCardMedia Image="@v.Thumbnails.FirstOrDefault().Url" Height="200" />
                    <MudCardHeader>
                        <MudText Typo="Typo.subtitle1">@v.Title</MudText>
                    </MudCardHeader>
                    <MudDivider />
                    <MudCardContent Class="text-start">
                        <div>@v.Author</div>
                        <div>@v.Duration</div>
                        <div>@v.Url</div>
                        <div>Index: @GetIndex(v)</div>
                    </MudCardContent>
                    <MudCardActions Class="justify-content-between">
                       @if (currentDownloadingPlaylistVideo is null || currentDownloadingPlaylistVideo.Id != v.Id)
                       {
                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                            @onclick="(() => DownloadVideo(v.Url))">
                                Download
                            </MudButton>
                       }
                       else if (currentDownloadingPlaylistVideo is not null && currentDownloadingPlaylistVideo.Id == v.Id)
                       {
                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Error"
                            @onclick="CancelVideoDownload">
                                Cancel Download
                            </MudButton>
                       }
                        <MudButton Variant="Variant.Outlined"
                                   Color="Color.Secondary"
                        @onclick="(() => LoadWatchPage(v.Url))">
                            Watch
                        </MudButton>
                    </MudCardActions>
                </MudCard>
            </MudVirtualize>
        </MudItem>
    </MudGrid>

    <MudDialog IsVisible="showDialog" Class="backdrop-blur">
        <DialogContent>
            <p>
                It appears your URL is a playlist.
            </p>
            <p>
                Would you like to download your video's Url?
            </p>
        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Primary" OnClick="(() => DownloadVideo(youtubeUrl))">Download</MudButton>
            <MudButton OnClick="ToggleDialog">Cancel</MudButton>
        </DialogActions>
    </MudDialog>

</MudContainer>

@code {
    private const string DefaultDownloadPath = "Download Folder";
    private const string DefaultExtension = ".mp4";

    private CancellationTokenSource playlistCancellationSource;
    private CancellationTokenSource videosCancellationSource;
    private CancellationTokenSource videoCancellationSource;
    private List<string> downloadPaths = new();
    private List<string> videoExtensions = new();
    private Video currentDownloadingVideo;
    private PlaylistVideo currentDownloadingPlaylistVideo;
    private string selectedPath = DefaultDownloadPath;
    private string selectedExtension = DefaultExtension;
    private string customPath = "";
    private string youtubeUrl = "";
    private string errorMessage = "";
    private string videoSearchText = "";
    private string playlistVideoSearchText = "";
    private bool showDialog = false;

    protected override async Task OnInitializedAsync()
    {
        downloadPaths = defaultData.GetDownloadPaths();
        videoExtensions = defaultData.GetVideoExtensions();
        await LoadStates();
    }

    private async Task LoadStates()
    {
        selectedPath = await secureStorage.GetAsync(nameof(selectedPath)) ?? DefaultDownloadPath;
        selectedExtension = await secureStorage.GetAsync(nameof(selectedExtension)) ?? DefaultExtension;
    }

    private async Task SaveStates()
    {
        await secureStorage.SetAsync(nameof(selectedPath), selectedPath);
        await secureStorage.SetAsync(nameof(selectedExtension), selectedExtension);
    }

    private async Task LoadVideoOrPlaylist()
    {
        try
        {
            errorMessage = "";

            if (IsPlaylistUrl())
            {
                await LoadPlaylistVideos();
                showDialog = true;
            }
            else
            {
                await LoadSingleVideo();
            }
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    private async Task LoadPlaylistVideos()
    {
        var videos = await youtubeDownloader.GetPlayListVideosAsync(youtubeUrl);

        foreach (var v in videos)
        {
            if (IsVideoNotLoaded(v.Id))
            {
                videoLibrary.PlaylistVideos.Add(v);
            }
        }
    }

    private async Task LoadSingleVideo()
    {
        var video = await youtubeDownloader.GetVideoAsync(youtubeUrl);
        if (IsVideoNotLoaded(video.Id))
        {
            videoLibrary.Videos.Add(video);
        }
    }

    private async Task DownloadVideo(string url)
    {
        try
        {
            errorMessage = "";
            showDialog = false;
            videoCancellationSource = new();

            var cancellationToken = videoCancellationSource.Token;
            string path = string.IsNullOrWhiteSpace(customPath) ? selectedPath : customPath;

            if (currentDownloadingVideo is not null || currentDownloadingPlaylistVideo is not null)
            {
                // Don't allow to download multiple things at once.
                return;
            }

            CheckDownloadVideos(url);

            await youtubeDownloader.DownloadVideoAsync(url, path, selectedExtension, cancellationToken);
            CancelVideoDownload();
            await SaveStates();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    private void CheckDownloadVideos(string url)
    {
        if (currentDownloadingVideo is null)
        {
            currentDownloadingVideo = videoLibrary.Videos.FirstOrDefault(v => v.Url == url);
        }

        if (currentDownloadingPlaylistVideo is null)
        {
            currentDownloadingPlaylistVideo = videoLibrary.PlaylistVideos.FirstOrDefault(v => v.Url == url);
        }
    }

    private async Task DownloadAllVideos()
    {
        videosCancellationSource = new();
        var cancellationToken = videosCancellationSource.Token;

        foreach (var v in videoLibrary.Videos)
        {
            cancellationToken.ThrowIfCancellationRequested();

            await youtubeDownloader
                .DownloadVideoAsync(v.Url, selectedPath, selectedExtension, cancellationToken);
        }

        CancelVideosDownload();
    }


    private async Task DownloadAllPlaylists()
    {
        playlistCancellationSource = new();
        var cancellationToken = playlistCancellationSource.Token;

        foreach (var v in videoLibrary.PlaylistVideos)
        {
            cancellationToken.ThrowIfCancellationRequested();

            await youtubeDownloader
                .DownloadVideoAsync(v.Url, selectedPath, selectedExtension, cancellationToken);
        }

        CancelPlaylistDownload();
    }

    private async Task<IEnumerable<string>> SearchPlaylistVideos(string searchInput)
    {
        return await Task.Run(() =>
        {
            playlistVideoSearchText = searchInput;
            var output = videoLibrary.PlaylistVideos;
            if (string.IsNullOrWhiteSpace(searchInput) is false)
            {
                output = output
                .Where(v => v.Title
                .Contains(searchInput, StringComparison.InvariantCultureIgnoreCase)).ToList();
            }

            return output.Select(v => v.Title);
        });
    }

    private void FilterPlaylistVideo()
    {
        var output = videoLibrary.PlaylistVideos;

        if (string.IsNullOrWhiteSpace(playlistVideoSearchText) is false)
        {
            output = output
                .OrderByDescending(v => v.Title.Contains(playlistVideoSearchText, StringComparison.InvariantCultureIgnoreCase))
                .ToList();
        }

        videoLibrary.PlaylistVideos = output;
    }

    private async Task<IEnumerable<string>> SearchVideos(string searchInput)
    {
        return await Task.Run(() =>
        {
            videoSearchText = searchInput;
            var output = videoLibrary.Videos;
            if (string.IsNullOrWhiteSpace(searchInput) is false)
            {
                output = output
                .Where(v => v.Title
                .Contains(searchInput, StringComparison.InvariantCultureIgnoreCase)).ToList();
            }

            return output.Select(v => v.Title);
        });
    }

    private void FilterVideos()
    {
        var output = videoLibrary.Videos;

        if (string.IsNullOrWhiteSpace(videoSearchText) is false)
        {
            output = output
                .OrderByDescending(v => v.Title.Contains(videoSearchText, StringComparison.InvariantCultureIgnoreCase))
                .ToList();
        }

        videoLibrary.Videos = output;
    }

    private void CancelVideosDownload()
    {
        videosCancellationSource?.Cancel();
        videosCancellationSource = null;
    }

    private void CancelVideoDownload()
    {
        videoCancellationSource?.Cancel();
        videoCancellationSource = null;
        currentDownloadingVideo = null;
        currentDownloadingPlaylistVideo = null;
    }

    private void CancelPlaylistDownload()
    {
        playlistCancellationSource?.Cancel();
        playlistCancellationSource = null;
    }

    private void ClearVideos()
    {
        videoLibrary.Videos.Clear();
    }

    private void ClearPlaylist()
    {
        videoLibrary.PlaylistVideos.Clear();
    }

    private void LoadWatchPage(string url)
    {
        string encodedUrl = Uri.EscapeDataString(url);
        navManager.NavigateTo($"/Watch/{encodedUrl}");
    }

    private void ToggleDialog()
    {
        showDialog = !showDialog;
    }

    private string GetButtonClass(string path)
    {
        if (selectedPath == path)
        {
            return "text-success";
        }

        return "text-danger";
    }

    private string GetDownloadVideoText()
    {
        if (videoLibrary.Videos?.Count <= 0)
        {
            return "Download Video";
        }

        if (videoLibrary.Videos?.Count == 1)
        {
            return "Download 1 Video";
        }

        return $"Download {videoLibrary.Videos?.Count} videos";
    }



    private bool IsVideoNotLoaded(string videoId)
    {
        return videoLibrary.Videos.Any(v => v.Id == videoId) is false;
    }

    private bool IsPlaylistUrl()
    {
        return youtubeUrl.Contains("list=");
    }

    private int GetIndex(PlaylistVideo playlistVideo)
    {
        int index = videoLibrary.PlaylistVideos.IndexOf(playlistVideo);
        return index + 1;
    }
}
