@page "/SavedMedias"
@inject IYoutube youtube
@inject IVideoData videoData
@inject ISettingsLibrary settingsLibrary
@inject ISnackbar snackbar
@inject ISearchHelper searchHelper
@inject ITokenHelper tokenHelper
@inject IFolderHelper folderHelper


<MudText Typo="Typo.h4" Class="text-center text-uppercase mb-4">
    Saved Medias
    <MudIcon Icon="@Icons.Material.Filled.PersonalVideo"></MudIcon>
</MudText>
@if (string.IsNullOrWhiteSpace(_errorMessage) is false)
{
    <MudAlert Severity="Severity.Error" Class="mb-4">
        @_errorMessage
    </MudAlert>
}
<MudGrid Spacing="5">
    <MudItem xs="12" Class="text-center">
        <MudButton Class="mt-4 w-100"
                   Color="Color.Warning"
                   Variant="Variant.Outlined"
        @onclick="OpenFileLocation">
            Open Folder Location
        </MudButton>
    </MudItem>
</MudGrid>
<MudGrid Spacing="5">
    <MudItem xs="12">
        @if (_allVideosTokenSource is null)
        {
            <MudButton Color="Color.Primary"
                       Variant="Variant.Filled"
                       Class="w-100 mb-4"
            @onclick="DownloadAll">
                @GetDownloadVideoText()
            </MudButton>
        }
        else
        {
            <MudButton Color="Color.Error"
                       Variant="Variant.Filled"
                       Class="w-100 mb-4"
            @onclick="CancelDownload">
                Cancel
            </MudButton>
        }
        <MudAutocomplete T="string" Label="@GetVideoSearchBarText()"
                         Variant="Variant.Outlined"
                         Class="mb-4"
                         AdornmentIcon="@Icons.Material.Filled.YoutubeSearchedFor"
                         OnAdornmentClick="FilterVideos"
                         SearchFunc="SearchVideos"
                         ResetValueOnEmptyText="true"
        @bind-Value="_searchText" />
        <MudProgressLinear Color="Color.Primary"
                           Striped="true"
                           Size="Size.Medium"
                           Max="1"
                           Value="@_videosProgress"
                           Class="my-7"
                           Buffer="true" />
        @if (string.IsNullOrWhiteSpace(_currentDownloadingVideo) is false)
        {
            <MudAlert Class="mb-4" Severity="Severity.Warning">@_currentDownloadingVideo</MudAlert>
        }
        @if (_isVideosLoading)
        {
            <div class="text-center">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
            </div>
        }
        <MudGrid>
            <MudVirtualize Items="_videos" Context="v" OverscanCount="10">
                <VideoComponent @key="v.Id"
                                Video="v"
                                CardSize="6"
                                RemoveEvent="(() => DeleteVideo(v))" />
            </MudVirtualize>
        </MudGrid>
    </MudItem>
</MudGrid>
