@page "/Settings"
@inject ISettingsLibrary settingsLibrary
@inject ISettingsData settingsData
@inject IDefaultData defaultData
@inject ISnackbar snackbar
@inject NavigationManager navManager


@if (string.IsNullOrWhiteSpace(_errorMessage) is false)
{
    <MudAlert Severity="Severity.Error">@_errorMessage</MudAlert>
}
<MudCard>
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h4" Class="text-center text-uppercase mb-4">
                Settings
                <MudIcon Icon="@Icons.Material.Filled.Settings" />
            </MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent>
        <EditForm Model="_model" OnValidSubmit="SaveSettings">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <MudGrid Spacing="5">
                <MudItem xs="6" Class="text-center">
                    <div class="d-flex align-items-center mb-3">
                        <MudText class="mr-2">Dark Mode:</MudText>
                        <MudSwitch @bind-Checked="_model.IsDarkMode"
                                   Color="MudBlazor.Color.Primary" />
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <MudText class="mr-2">Download Subtitles included with video:</MudText>
                        <MudSwitch @bind-Checked="_model.DownloadSubtitles"
                                   Color="MudBlazor.Color.Primary" />
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <MudText class="mr-2">Automatically Save Videos:</MudText>
                        <MudSwitch @bind-Checked="_model.SaveVideos"
                                   Color="MudBlazor.Color.Primary" />
                    </div>
                </MudItem>
                <MudItem xs="6">
                    <div class="d-flex align-items-center mb-3">
                        <MudSelect @bind-Value="_model.SelectedPath"
                                   Label="Download Path:"
                                   Class="mud-input-root text-start"
                                   HelperText="Pick your preferred download path."
                                   Required="true">
                            @foreach (var p in _paths)
                            {
                                <MudSelectItem Value="@p">@p</MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <MudSelect @bind-Value="_model.SelectedFormat"
                                   Label="Video Format:"
                                   Class="mud-input-root text-start"
                                   HelperText="Pick your preferred format."
                                   Required="true">
                            @foreach (var f in _formats)
                            {
                                <MudSelectItem Value="@f">@f</MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                </MudItem>
            </MudGrid>
            <MudGrid Spacing="5">
                <MudItem xs="12">
                    <div class="text-center">
                        <MudButton Variant="Variant.Filled"
                                   Color="MudBlazor.Color.Primary"
                                   StartIcon="@Icons.Material.Filled.Save"
                                   Class="w-50"
                                   ButtonType="ButtonType.Submit">
                            Save
                        </MudButton>
                    </div>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudCardContent>
</MudCard>



