@page "/Settings"
@inject ISettingsData settingsData
@inject IDefaultData defaultData
@inject ISnackbar snackbar
@inject IPathHelper pathHelper
@inject ILanguageExtension languageExtension
@inject NavigationManager navManager

<MudText Typo="Typo.h4" Class="text-center text-uppercase mb-4">
    @GetDictionary()[KeyWords.Settings]
    <MudIcon Icon="@Icons.Material.Filled.Settings" />
</MudText>

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6" Centered="true">
    <MudTabPanel Text="@GetDictionary()[KeyWords.AppSettings]">
        <MudCard>
            <MudCardContent>
                <EditForm Model="_settingsModel" OnValidSubmit="SaveAppSettings">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <MudGrid Spacing="5">
                        <MudItem xs="6" Class="text-center">
                            <div class="d-flex align-items-center mb-3">
                                <MudText class="mr-2">@GetDictionary()[KeyWords.DarkMode]</MudText>
                                <MudSwitch @bind-Checked="_settingsModel.IsDarkMode"
                                           Color="MudBlazor.Color.Primary" />
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <MudText class="mr-2">@GetDictionary()[KeyWords.DownloadSubtitles]</MudText>
                                <MudSwitch @bind-Checked="_settingsModel.DownloadSubtitles"
                                           Color="MudBlazor.Color.Primary" />
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <MudText class="mr-2">@GetDictionary()[KeyWords.AutoSaveVideo]</MudText>
                                <MudSwitch @bind-Checked="_settingsModel.SaveVideos"
                                           Color="MudBlazor.Color.Primary" />
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <MudText class="mr-2">@GetDictionary()[KeyWords.CreateSubdirectory]</MudText>
                                <MudSwitch @bind-Checked="_settingsModel.CreateSubDirectoryPlaylist"
                                           Color="MudBlazor.Color.Primary" />
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <MudText class="mr-2">@GetDictionary()[KeyWords.RemoveVideoDownload]</MudText>
                                <MudSwitch @bind-Checked="_settingsModel.RemoveAfterDownload"
                                           Color="MudBlazor.Color.Primary" />
                            </div>
                        </MudItem>
                        <MudItem xs="6">
                            <div class="d-flex align-items-center mb-3">
                                <MudSelect @bind-Value="_settingsModel.SelectedPath"
                                           Label="Download Path:"
                                           Class="mud-input-root text-start"
                                           HelperText="@GetDictionary()[KeyWords.SelectedPath]"
                                           Required="true">
                                    @foreach (var p in _paths)
                                    {
                                        <MudSelectItem Value="@p">@GetSpacedString(p.ToString())</MudSelectItem>
                                    }
                                </MudSelect>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <MudSelect @bind-Value="_settingsModel.SelectedFormat"
                                           Label="Video Format:"
                                           Class="mud-input-root text-start"
                                           HelperText="@GetDictionary()[KeyWords.SelectedFormat]"
                                           Required="true">
                                    @foreach (var f in _formats)
                                    {
                                        <MudSelectItem Value="@f">@f</MudSelectItem>
                                    }
                                </MudSelect>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <MudSelect @bind-Value="_settingsModel.SelectedResolution"
                                           Label="Selected Resolution:"
                                           Class="mud-input-root text-start"
                                           HelperText="@GetDictionary()[KeyWords.SelectedResolution]"
                                           Required="true"
                                           FullWidth="true">
                                    @foreach (var f in _resolutions)
                                    {
                                        <MudSelectItem Value="@f">@GetSpacedString(f.ToString())</MudSelectItem>
                                    }
                                </MudSelect>
                            </div>
                        </MudItem>
                    </MudGrid>
                    <MudGrid Spacing="5">
                        <MudItem xs="12">
                            <div class="text-center">
                                <MudButton Variant="Variant.Filled"
                                           Color="MudBlazor.Color.Primary"
                                           StartIcon="@Icons.Material.Filled.Save"
                                           Class="w-50"
                                           ButtonType="ButtonType.Submit">
                                    @GetDictionary()[KeyWords.Save]
                                </MudButton>
                            </div>
                        </MudItem>
                    </MudGrid>
                </EditForm>
            </MudCardContent>
        </MudCard>
    </MudTabPanel>
    <MudTabPanel Text="Ffmpeg Settings">
        <MudCard>
            <MudCardContent>
                <EditForm Model="_ffmpegSettingsModel" OnValidSubmit="SaveFfmpegSettings">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <MudGrid Spacing="5" Class="text-center">
                        <MudItem xs="12">
                            <div class="d-flex align-items-center mb-3">
                                <MudTextField @bind-Value="_ffmpegSettingsModel.FfmpegPath"
                                              Required="true"
                                              HelperText="Input your ffmpeg file path to the .exe"
                                              RequiredError="You must input your ffmpeg file path to the .exe"
                                              Label="Ffmpeg File Path"
                                              FullWidth="true"
                                              Clearable="true"
                                              OnClearButtonClick="ClearFfmpegPath" />
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <MudSelect @bind-Value="_ffmpegSettingsModel.SelectedResolution"
                                           Label="Selected Resolution:"
                                           Class="mud-input-root text-start"
                                           HelperText="Pick your preferred resolution."
                                           Required="true"
                                           FullWidth="true">
                                    @foreach (var f in _resolutions)
                                    {
                                        <MudSelectItem Value="@f">@GetSpacedString(f.ToString())</MudSelectItem>
                                    }
                                </MudSelect>
                            </div>
                        </MudItem>
                    </MudGrid>
                    <MudGrid Spacing="5">
                        <MudItem xs="12">
                            <div class="text-center">
                                <MudButton Variant="Variant.Filled"
                                           Color="MudBlazor.Color.Primary"
                                           StartIcon="@Icons.Material.Filled.Save"
                                           Class="w-50"
                                           ButtonType="ButtonType.Submit">
                                    Save
                                </MudButton>
                            </div>
                        </MudItem>
                    </MudGrid>
                </EditForm>
            </MudCardContent>
        </MudCard>
    </MudTabPanel>
</MudTabs>
